[MASTER]
# Especificar configuración de Python
py-version=3.9
ignore=tests/e2e,tests/load

[FORMAT]
# Longitud máxima de línea
max-line-length=120
# Longitud máxima de docstring
max-doc-length=120

[MESSAGES CONTROL]
# Deshabilitar ciertos warnings
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    W0611,  # unused-import
    W0702,  # multiple-statements

[BASIC]
# Buenas prácticas
good-names=_,id,ex,run,main,db,logger

[DESIGN]
# Máximo de argumentos
max-args=10
# Máximo de atributos públicos
max-public-methods=50
# Máximo de métodos
max-methods=20

[SIMILARITIES]
# Detección de código duplicado
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
