[Unit]
Description=Monitoreo Hetzner Alemania
After=network.target

[Service]
Type=simple
User=ramon
ExecStart=/home/ramon/URA/scripts/monitor-alemania.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
