[Unit]
Description=URA Maintenance Timer - Ejecución periódica

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
OnBootSec=5min
OnUnitActiveSec=6h
Persistent=true
AccuracySec=5min

[Install]
WantedBy=timers.target

