[Unit]
Description=Servidor API Proxy de Contraste URA
After=network.target

[Service]
Type=simple
User=ramon
WorkingDirectory=/opt/ura/agents
EnvironmentFile=/etc/environment
ExecStart=/home/ramon/.local/bin/uvicorn proxy_contraste:app --host 127.0.0.1 --port 8002 --workers 1
Restart=always

[Install]
WantedBy=multi-user.target
