[Unit]
Description=URA Telemetry Timer - Cada 1 minuto

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
