[Unit]
Description=URA-Search: Sincronizar datos a ASUS
Documentation=https://github.com/anomalyco/ura

[Service]
Type=oneshot
User=ramon
ExecStart=/usr/bin/rsync -avz --delete \
  --exclude="__pycache__" --exclude=".git" \
  /home/ramon/.nervioso/ura_search/ \
  ramon@10.164.1.99:/home/ramon/.nervioso/ura_search/
StandardOutput=append:/home/ramon/URA/logs/sync.log
StandardError=append:/home/ramon/URA/logs/sync.log
